NEXT_PUBLIC_SUPABASE_URL=https://uxledchvqwyxpdrtcacj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4bGVkY2h2cXd5eHBkcnRjYWNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNDg0OTcsImV4cCI6MjA5MTkyNDQ5N30.Z3-FfV89APDizL4ITDmRaMbLDUcbmDAyb8XSValpfWI
VERCEL_TOKEN=
